<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <title>{{ page.nav_title }} | {{ site.title }}</title>

  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        {% assign mypages = site.pages | sort: "order" %} {% for page in mypages
        %}
        <li class="navbar-item">
          <a class="navbar-link" href="{{page.url | absolute_url}}"
            >{{page.nav_title}}</a
          >
          {% endfor %}
        </li>
      </ul>
    </div>
  </nav>

  <h1>{{ page.title }}</h1>

  <body>
    {{ content }}
  </body>
</html>
