<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="index.html">About Me</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="dataanal.html">Data Analysis</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="projects.html">Projects</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="blog.html">Blog</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="”container”">
      <div class="”blurb”">
        <h1>Yuyan Chan, Sam</h1>
        <h2>Computer Science & Statistics<a></a></h2>
        <p>
          An avid problem solver, aspiring computer scientist and software
          engineer. <br />
          I am passionate about algorithmic designs, machine learning,
          mathematics, and backend software engineering.
        </p>
        <br /><br />
        <p>Favorite programming language: C++</p>
        <div class="quote">
          <p>
            <em
              >C makes it easy to shoot yourself in the foot; C++ makes it
              harder, but when you do it blows your whole leg off</em
            >
          </p>
        </div>
        <br />
        <p>Bjarne Stroustrup -- 1986</p>
      </div>
    </div>

    {{ content }}
  </body>
</html>
