---
layout: default
---

{% include mathjax.html %}
{% include mermaid.html %}

{{ content }} 
{% assign topic = page.topic | append:
'/' %}
<ul class="note_sections">
  {% for note_section in site.note_sections %} {% if note_section.relative_path
  contains topic %}
  <li id="{{note_section.section_title | slugify}}">
    <details open>
      <summary>{{note_section.section_title}}</summary>
      {{note_section.content | markdownify}}
    </details>
  </li>
  {% endif %} {% endfor %}
</ul>
{% include side_navbar.html %}



